:root {
    --default: 44px;
    --one: 117.5px;
    --two: 192px;
    --three: 266.5px;
    --aux: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ad48;
}

#content {
    margin: 0 auto;
    width: 412px;
    height: 100vh;
    border: 2px solid #ffa500;
}

#footer {
    display: flex;
    justify-content: center;
}

#navFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    position: fixed;
    bottom: 31px;
    height: 60.29px;
    width: 350px;
    border-radius: 50px;
}

#circuloSobreicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffa500;
    z-index: -1;
    position: absolute;
    top: 10px;
    transition: 1s;
}

.slide-default {
    left: var(--default)
}

.slide-one {
    left: var(--one);
}

.slide-two {
    left: var(--two);
}

.slide-three {
    left: var(--three);
}

svg {
    cursor: pointer;
}

.indicator {
    position: absolute;
    top: 5px;
    height: 2.5px;
    width: 35px;
    background-color: #020101;
    border-radius: 2px;
    transition: 1s;
}

.indicator-default {
    left: calc(var(--default) + var(--aux));
}

.indicator-one {
    left: calc(var(--one) + var(--aux));
}

.indicator-two {
    left: calc(var(--two) + var(--aux));
}

.indicator-three {
    left: calc(var(--three) + var(--aux));
}

#selected {
  fill: #000;
}

#indicador {
  position: absolute;
  top: -6px;
  transition: 1s;
}

#indicador img {
  width: 35px;
}

#indicador svg {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 6px;
}

.default {
  left: -52.5px;
}